<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10 forgotPassword">
    <div class="container col-md-12 col-lg-12">
        <div class="alert alert-danger alert-dismissible" style="display:none;" role="alert">
            <strong>Por favor verifique los siguientes errores:</strong>
        </div>
        
        <h2 class="form-signin-heading recuperarPassTitl text-center">Olvidaste tu contraseña </h2>
        <p class="reestablecerPass text-center">Mozcu enviará las instrucciones sobre cómo reestablecer tu contraseña a la dirección de correo electrónico asociada a tu cuenta. </p>       
       
        <form class="form-signin panel center-block " role="form">
            <h4 class="form-signin-heading siginsubTitl text-center">Por favor, escribe tu email </h4>
            <input type="email" class="form-control email" placeholder="Correo electrónico" required autofocus>
            <button class="btn btn-lg btn-primary btn-block btnRecPass" type="button" data-url="{{ path('MozcuMozcuBundle_sendPasswordEmail') }}">Recuperar contraseña</button>
        </form>
    </div>
</div>
        
{{ include('googleAnalytics.html.twig') }}