<div class="aboutPage">
    {{ include('MozcuMozcuBundle:Home:_homeAboutMenu.html.twig', {'selected': 'terms'}) }}
    <div class="clearBoth"></div>
    
    <div class="tab-content" id="tabs2" style="display: block;">
		
        <h2>Términos y condiciones</h2>
        <div style="font-size:13px;">    
            <p>Somos conscientes de que leer los términos y condiciones no es nada entretenido, más aún pensando que te quitamos tiempo que podrías estar invirtiendo en el descubrimiento de nuevos artistas que van a cambiar tu vida, pero no tenemos opción. Nosotros también queremos estar flotando en el universo y escuchando música, pero las leyes nos agarran del pie, nos quitan los auriculares y nos traen de regreso a la tierra. Para que tu regreso al planeta no sea tan duro,
            <span class="resaltado">por favor lee cuidadosamente estos Términos de Uso ("Acuerdo" o "Términos de Uso") antes de utilizar los servicios ofrecidos por Mozcu. Este acuerdo establece los términos jurídicamente vinculantes y las condiciones de uso del Sitio Web <a href="http://www.mozcu.com">www.mozcu.com</a> (el "Sitio") y el servicio de propiedad operado por la empresa (en conjunto con el Sitio, el "Servicio"). Al utilizar el Sitio o el Servicio de cualquier forma, pero no limitado a visitar o navegar por el sitio, usted acepta que quedará vinculado por este acuerdo.Este acuerdo se aplica a todos los usuarios del Sitio o el Servicio, incluyendo aquellos usuarios que aporten contenidos, información y otros materiales o servicios en el sitio.</span></p>
            
            <h3 class="mozcusub">1. Aceptación</h3>
            <p class="punto">A. Al usar o ingresar al sitio de Internet de Mozcu, usted acuerda expresamente conocer y aceptar estos términos y condiciones (en lo sucesivo los "Términos del Servicio"). Si no estuviera de acuerdo con los Términos del Servicio de Mozcu, por favor no utilice el Servicio.</p>
            
            <p class="punto">B. Si bien podemos intentar notificarle cambios significativos a los Términos del Servicio, usted deberá revisar periódicamente la versión actualizada de los mismos. Mozcu podrá, a su discreción, modificar o enmendar estos Términos del Servicio y políticas en cualquier momento, y usted acepta expresamente que quedará sujeto a dichas modificaciones o enmiendas. Nada de lo establecido en estos Términos del Servicio será considerado como un otorgamiento de derechos o beneficios a terceros.</p>

            <h3 class="mozcusub">2. Servicio</h3>
            <p class="punto">A.	Los presentes Términos del Servicio son aplicables a todos los usuarios del Servicio, incluyendo, sin carácter limitativo, a los usuarios que además contribuyan Contenido al Servicio. "Contenido" incluye el texto, gráficos, fotos, sonidos, música y otros materiales que pueda visualizar en, acceder a través de o contribuir al Servicio. El Servicio incluye todos los aspectos de Mozcu.</p>
            <p class="punto">B.	El Servicio puede contener vínculos (links) a sitios de Internet de terceros que no son propiedad ni son controlados por Mozcu. Mozcu no tiene control alguno sobre dichos sitios de Internet, y no asume responsabilidad alguna por el contenido, políticas de privacidad o prácticas de ningún sitio de Internet propiedad de o bajo el control de terceros. Además, Mozcu no puede ni va a censurar o editar el contenido de ningún sitio propiedad de un tercero o controlado por un tercero. Al utilizar el Servicio, usted libera expresamente a Mozcu de toda y cualquier responsabilidad derivada del uso que usted haga de un sitio de Internet de un tercero.</p>

            <p class="punto">C. En virtud de lo anterior, lo exhortamos para que se mantenga atento cuando usted salga del Servicio y para que lea los términos y condiciones y las políticas de privacidad de cualquier otro sitio de Internet que visite.</p>

            <h3 class="mozcusub">3. Creación de cuentas Mozcú</h3>

            <p class="punto">A. Para poder acceder a algunas funciones del Servicio, deberá crear una cuenta Mozcu. Nunca debe utilizar la cuenta de otra persona sin su consentimiento. Al crear su cuenta, deberá proporcionar información precisa y verdadera. Usted es el único responsable por la actividad de su cuenta y deberá mantener la contraseña de su cuenta protegida. Usted deberá notificar de inmediato a Mozcu cualquier violación de la seguridad o uso no autorizado de su cuenta.</p>

            <p class="punto">B. Mozcu no será responsable por las pérdidas que usted informe como resultado del uso no autorizado de su cuenta y podrá, ser responsable por las pérdidas de Mozcu o de terceros por ese uso no autorizado.</p>

            <h3 class="mozcusub">4. Uso General de los Permisos y Restricciones del Servicio</h3>

            <p class="punto">Por el presente, Mozcú lo autoriza a acceder y utilizar el Servicio de conformidad con los Términos del Servicio, bajo las siguientes condiciones:</p>

            <p class="punto">A. Usted Tiene toda la libertad de difundir libremente el contenido subido por los usuarios a Mozcú, siempre y cuando no sea la difusión de contenido de descarga y no perjudique al artista.</p>

            <p class="punto">B. Usted no cambiará ni modificará ninguna parte del Servicio.</p>

            <p class="punto">C. Mozcú no ejercerá ninguna medida contra aquellos usuarios o personas ajenas al servicio que intenten acceder al contenido de forma ilícita. Según nosotros un verdadero cambio surgirá por medio de la educación y el ejemplo, y no a través de la represión y el castigo. Por lo tanto nuestras energías se canalizarán en el desarrollo de una plataforma estable de difusión, desarrollo de herramientas complementarias que maximicen las posibilidades de difusión del contenido ofrecido por los usuarios y su constante mejoramiento.</p>
            <p class="punto">D. Usted no Debería utilizar el Servicio para ninguno de los usos comerciales siguientes, salvo consentimiento previo y por escrito de Mozcú:</p>

            <p class="subpunto">- Venta de acceso al Servicio;</p>
            <p class="subpunto">- La venta de publicidad, patrocinios o promociones colocadas en o dentro del Servicio o Contenido; La venta de publicidad, patrocinios o promociones en cualquier página de un blog con anuncios activados o un sitio de Internet que contenga Contenido publicado a través del Servicio, salvo que otro material no obtenido de Mozcú apareciera en la misma página y tuviera suficiente valor para ser la base de dicha venta.</p>

            <p class="punto">E. Queda estrictamente prohibido suplantar identidades y subir contenido con el nombre de otros artistas.</p>

            <p class="punto">F. Todo el material que sea subido a la plataforma, no podrá ser dado de baja por el usuario. Solo mediante el personal de Mozcú y en casos excepcionales y justificados.</p>


            <h3 class="mozcusub">5. Política de Cancelación de Cuentas</h3>

            <p class="punto">Mozcú cancelará el acceso del usuario al Servicio, si de acuerdo a las circunstancias, determinara, que dicho usuario es un infractor recurrente de las disposiciones de estos Términos del Servicio.</p>

            <h3 class="mozcusub">6. Liberación de Responsabilidad por Garantías</h3>

            <p class="politicas">USTED ACUERDA QUE EL USO DE LOS SERVICIOS CORRERÁ BAJO SU PROPIO RIESGO. EN LA MEDIDA DE LO PERMITIDO POR LA LEGISLACIÓN APLICABLE, MOZCU, SUS FUNCIONARIOS, ADMINISTRADORES (DIRECTORES), EMPLEADOS, REPRESENTANTES Y AGENTES QUEDAN LIBERADOS DE CUALQUIER RESPONSABILIDAD BAJO CUALQUIER TIPO DE GARANTÍA, SEA EXPRESA O IMPLÍCITA, EN RELACIÓN CON LOS SERVICIOS Y EL USO DE LOS MISMOS POR USTED. MOZCU NO GARANTIZA NI EMITE DECLARACIÓN ALGUNA ACERCA DE LA VERACIDAD O EXACTITUD DEL CONTENIDO DEL SITIO DE INTERNET O DEL CONTENIDO DE CUALQUIER SITIO DE INTERNET LIGADO A ESTE SITIO DE INTERNET Y NO ASUME RESPONSABILIDAD ALGUNA CIVIL O PENAL POR NINGÚN (I) ERROR, INCONSISTENCIA O INEXACTITUD DEL CONTENIDO, (II) DAÑO PERSONAL O A LA PROPIEDAD, DE CUALQUIER NATURALEZA, QUE RESULTE DE SU ACCESO Y USO DE LOS SERVICIOS, (III) ACCESO O USO NO AUTORIZADO DE NUESTROS SERVIDORES RESTRINGIDOS O DE TODA Y CUALQUIER INFORMACIÓN PERSONAL O FINANCIERA ALMACENADA EN DICHOS SERVIDORES, (IV) INTERRUPCIÓN O TERMINACIÓN DE LA TRANSMISIÓN PARA O DESDE NUESTROS SERVICIOS, (V) CUALQUIER DEFECTO, BUG, VIRUS, CABALLOS DE TROYA (TROJAN HORSES) O SIMILARES QUE PUDIERAN SER TRANSMITIDOS POR MEDIO O A TRAVÉS DE NUESTROS SERVICIOS POR CUALQUIER TERCERO, O (VI) CUALQUIER ERROR U OMISIÓN EN CUALQUIER CONTENIDO O POR CUALQUIER DAÑO O PÉRDIDA DE CUALQUIER NATURALEZA QUE RESULTE DEL USO DE CUALQUIER CONTENIDO PUBLICADO, ENVIADO VÍA CORREO ELECTRÓNICO, TRANSMITIDO O PUESTO A SU DISPOSICIÓN DE CUALQUIER OTRA FORMA POR CONDUCTO DE LOS SERVICIOS. MOZCU NO GARANTIZA, PATROCINA NI ASUME RESPONSABILIDAD ALGUNA POR NINGÚN PRODUCTO O SERVICIO PROMOCIONADO U OFRECIDO POR UN TERCERO A TRAVÉS DE LOS SERVICIOS O CUALQUIER SERVICIO CONECTADO POR UN "HYPERLINK" O PROMOCIONADO EN CUALQUIER ANUNCIO U OTRO TIPO DE PUBLICIDAD, Y MOZCU NO SERÁ PARTE NI DE MANERA ALGUNA RESPONSABLE DE CONTROLAR CUALQUIER TRANSACCIÓN ENTRE USTED Y UN TERCER PROVEEDOR DE PRODUCTOS O SERVICIOS. COMO EN CUALESQUIERA ADQUISICIÓN DE PRODUCTOS O SERVICIOS A TRAVÉS DE CUALQUIER MEDIO, USTED DEBERÁ USAR SU MEJOR JUICIO Y TOMAR LAS PRECAUCIONES QUE FUEREN APROPIADAS.</p>

            <h3 class="mozcusub">7. Limitación de Responsabilidad</h3>
            <p class="politicas">BAJO NINGUNA CIRCUNSTANCIA MOZCU, SUS FUNCIONARIOS, ADMINISTRADORES (DIRECTORES), EMPLEADOS O AGENTES SERÁN RESPONSABLES POR CUALQUIER DAÑO, SEA, DIRECTO, INDIRECTO, INCIDENTAL, MORAL, ESPECIAL, PUNITIVO O CONSECUENTAL QUE RESULTE DE (I) ERRORES, INCONSISTENCIAS DEL CONTENIDO, (II) LESIÓN O DAÑO A LA PROPIEDAD, DE CUALQUIER NATURALEZA, QUE RESULTE DE SU ACCESO Y USO DE NUESTROS SERVICIOS, (III) CUALQUIER ACCESO NO AUTORIZADO O USO DE NUESTROS SERVIDORES RESTRINGIDOS Y/O DE CUALQUIER INFORMACIÓN PERSONAL Y/O FINANCIERA ALMACENADA DENTRO DE DICHOS SERVIDORES, (IV) CUALQUIER INTERRUPCIÓN O TERMINACIÓN DE LA TRANSMISIÓN PARA O DESDE NUESTROS SERVICIOS, (V) CUALQUIER BUG, DEFECTO, VIRUS, CABALLO DE TROYA (TROJAN HORSES) O SIMILARES QUE PUDIERAN SER TRANSMITIDOS POR MEDIO O A TRAVÉS DE NUESTROS SERVICIOS POR CUALQUIER TERCERO, Y/O (VI) CUALQUIER ERROR U OMISIÓN EN CUALQUIER CONTENIDO O POR CUALQUIER PÉRDIDA O DAÑO, DE CUALQUIER NATURALEZA, QUE RESULTE DEL SU USO DEL CONTENIDO PUBLICADO, ENVIADO VÍA CORREO ELECTRÓNICO, TRANSMITIDO O PUESTO A DISPOSICIÓN DE CUALQUIER OTRA FORMA VÍA LOS SERVICIOS, YA SEA QUE LOS ANTERIORES TENGAN COMO BASE UNA GARANTÍA, CONTRATO, RESPONSABILIDAD CIVIL O CUALQUIER OTRA TEORÍA LEGAL, SIN IMPORTAR QUE LA COMPAÑÍA HAYA SIDO ADVERTIDA O NO DEL ALCANCE DE DICHOS DAÑOS. LA LIMITACIÓN DE RESPONSABILIDAD ANTES MENCIONADA, SERÁ APLICABLE DE LA FORMA MÁS AMPLIA QUE PERMITA LA LEGISLACIÓN APLICABLE EN LA JURISDICCIÓN CORRESPONDIENTE.<br> USTED ESPECÍFICAMENTE RECONOCE QUE MOZCU NO SERÁ RESPONSABLE POR EL CONTENIDO NI POR LAS CONDUCTAS DIFAMATORIAS, OFENSIVAS O ILEGALES DE CUALQUIER TERCERO Y QUE EL RIESGO DE DAÑO O PERJUICIO EN RELACIÓN CON LO ANTERIOR RECAE COMPLETAMENTE SOBRE USTED.</p>

            <h3 class="mozcusub">8. Capacidad para aceptar los Términos del Servicio</h3>
            <p class="punto">Usted declara y reconoce que es una persona física mayor de 18 años o un menor emancipado o que posee autorización por parte de sus padres o tutores y que es totalmente capaz y competente para obligarse bajo los presentes términos, condiciones, obligaciones, disposiciones, declaraciones y garantías de conformidad con lo establecido en los presentes Términos del Servicio y para sujetarse y cumplir con los mismos.</p>

            <h3 class="mozcusub">9. Recaudaciones transparentes</h3>
            <p class="punto">A.  Mozcu le otorgará el 100% de cada transacción al músico.</p>
            <p class="punto">B.  Las ganancias se entregarán directamente a la cuenta del músico, sin pasar por ningún intermediario.</p>
            <p class="punto">C. El precio de venta de cada disco será a voluntad del comprador. </p>

        </div>	


    </div>
     
</div>

<style>
.aboutPage {
    margin-top: 43px;
    margin-left: 233px;
}

.aboutPage h2 {
    color: #000;
    font-size: 32px;
    margin-bottom: 20px;
    line-height: 38px;
    margin-left: 40px;
    margin-top: 10px;
}

.aboutPage h3 {
    margin: 35px 40px 20px;
    color: #3F3E3E;
    font-size: 31px;
    font-weight: bold;
    line-height: 38px;
    text-shadow: 0 1px white;
}

.aboutPage p {
    font-size: 16px;
    line-height: 1.35em;
    font-weight: 300;
    text-shadow: 0 1px white;
    margin-left: 40px;
    width: 660px;
    clear: both;
}

.aboutPage .header {
    float: left;
    position: relative;
    min-width: 598px;
    height: 30px;
}

.aboutPage .header ul.profileOptions {
    float: left;
    position: absolute;
    bottom: 0;
}

.aboutPage .header ul.profileOptions li {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.aboutPage .header ul.profileOptions li a.selected {
    border-radius: 8px;
    -webkit-box-shadow: inset 0px 0px 7px 0px rgba(100, 100, 100, 0.5);
    box-shadow: 0 2px 8px 0 #191919 inset;
    background: #5B5B5B;
}

.aboutPage .header ul.profileOptions li a {
    text-decoration: none;
    color: #fff;
    font-size: 11px;
    padding: 4px 15px;
}
</style>