<div style="margin-top: 43px; margin-left: 250px;">    
    <div style="margin-top:13px; text-align: center;">
        
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="flash-error">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <form action="{{ path('MozcuMozcuBundle_register')}}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}

            <input type="submit" />
        </form>
    </div>
</div>