<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
    <div class="container col-md-12 col-lg-12">
        <h2 class="form-signin-heading siginTitl text-center">Ingresa a la Re-evolución musical </h2>
       
        <form class="form-signin panel center-block " role="form">
            <h3 class="form-signin-heading siginsubTitl text-center">Accede a tu cuenta </h3>
            
            <input type="hidden" id="login_check_url" value="{{ path('login_check') }}" />
            <input type="hidden" id="old_login_check_url" value="{{ path('MozcuMozcuBundle_oldLoginCheck') }}" />
            
            <input type="text" id="username" value="" class="form-control" placeholder="Correo electrónico" required autofocus />
            <input type="password" id="password"  class="form-control" placeholder="Contraseña" required />
            <label class="checkbox">
                <input type="checkbox" id="remember_me" checked /> No cerrar sesión
            </label>
            <button class="btn btn-lg btn-primary btn-block loginCheckButton" type="submit">Iniciar sesión</button>
            <a href="#"><p class="text-center crearCuenta">Crear una cuenta</p></a>
        </form>
        <a href="#"><p class="text-center lostPass">¿Perdiste tu contraseña? </p></a>
    </div>     
</div>