<ul class="nav nav-pills nav-pills-stacked nav-sidebar sidebar-nav ">
    {% if user is not null %}
        <li>
            <a href="{{ path('MozcuMozcuBundle_profile', {'username': user.username}) }}">
                <i class="material-icons">account_circle</i><p>Perfil</p>
            </a>
        </li>
    {% else %}
        <li><a href="{{ path('MozcuMozcuBundle_login') }}"><i class="material-icons">account_circle</i><p>Ingresar</p></a></li>
    {% endif %}
    
    <li><a href="{{ path('MozcuMozcuBundle_albums') }}"><i class="material-icons">album</i><p>Albumes</p></a></li>
    <li><a href="{{ path('MozcuMozcuBundle_about') }}"><i class="material-icons">thumb_up</i><p>Acerca de Mozcu</p></a></li>
</ul>