<div class="col-xs-2 col-sm-3 col-md-2 col-lg-2 sidebar" role="navigation">
    <input type="hidden" id="loadLeftBarUrl" value="{{ path('MozcuMozcuBundle_loadLeftBar') }}" />
    {{ include('MozcuMozcuBundle:Home:_leftBarMenu.html.twig', {'user': user}) }}
    {{ include('MozcuMozcuBundle:Home:_leftBarPlayer.html.twig') }}
</div>