<ul class="nav nav-pills nav-pills-stacked nav-sidebar">
    {% if user is not null %}
        <li>
            <a href="{{ path('MozcuMozcuBundle_profile', {'username': user.username}) }}">
                <i class="glyphicon glyphicon-user"></i>Perfil
            </a>
        </li>
    {% else %}
        <li><a href="{{ path('MozcuMozcuBundle_login') }}"><i class="glyphicon glyphicon-user"></i>Ingresar</a></li>
    {% endif %}
    
    <li><a href="{{ path('MozcuMozcuBundle_albums') }}"><i class="glyphicon glyphicon-headphones"></i>Albumes</a></li>
    <!-- <li><a href="#"><i class="glyphicon glyphicon-th-list"></i>Compilados</a></li> -->
    <!-- <li><a href="#"><i class="glyphicon glyphicon-pencil"></i>Reseñas</a></li> -->
    <li><a href="{{ path('MozcuMozcuBundle_about') }}"><i class="glyphicon glyphicon-thumbs-up"></i>Acerca de Mozcu</a></li>
    <!-- <li><a href="#"><i class="glyphicon glyphicon-th-large"></i>Más aplicaciones</a></li> -->
</ul>