{% extends 'MozcuMozcuBundle::layout.html.twig' %}

{% block mainContent %}
<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10 passwordRecovery">
    <div class="container col-md-12 col-lg-12">
        <div class="alert alert-danger alert-dismissible" style="display:none;" role="alert">
            <strong>Por favor verifique los siguientes errores:</strong>
        </div>
        
        <h2 class="form-signin-heading recuperarPassTitl text-center">Recuperar contrase単a </h2>
        
        <form class="form-signin panel center-block " role="form">
            <input type="password" class="form-control password" placeholder="Nueva contrase単a" required autofocus>
            <input type="password" class="form-control confirm-password" placeholder="Confirmar contrase単a" required autofocus>
            <button class="btn btn-lg btn-primary btn-block btnRecPass" type="button" data-url="{{ path('MozcuMozcuBundle_createNewPassword', {'hash': hash}) }}">Generar contrase単a</button>
        </form>
    </div>
</div>
{% endblock %}