<div class="row center-block perfilContenido profileContent">
    <div class="headerAlbumes col-lg-12 text-center">
        <div class="btn-group">
            <button type="button" class="btn btn-default btnPerfilActive">Reseñas de CDT</button>
            <button type="button" class="btn btn-default">Favoritas de CDT</button>
        </div>
     </div>

    <div class="resena2 col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h3>Nos vimos en Río</h3>
        <h5>Las lágrimas estaban preparadas para salir. Cargadas de más de cien minutos de sufrimiento. Cargadas de los penales que atajó Romero contra Holanda, de los arranques mágicos de Messi que sirvieron para hacer camino al andar, del tiempo suplementario contra Suiza y hasta de la ajustada victoria contra Irán.</h5>
        <div class="resenaCreador2 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Escrito por</p>
            <img src="{{ asset('images/compi1.jpg') }}" alt="Germán Jara" class="img-circle imgResenaCreador2 pull-left">
            <a href="#" class="col-xs-7 col-sm-4 col-md-3 col-lg-6 autorResena2"><h6>Como Diamantes Telepáticos</h6></a>
            <button class="btn btn-success btnResenaSeguir2 col-xs-3 col-sm-2 col-md-2 col-lg-2"><i class="ion-person-add"></i>Seguir</button>
        </div>   
    </div>
               
    <div class="resena2 col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h3>Nos vimos en Río</h3>
        <h5>Las lágrimas estaban preparadas para salir. Cargadas de más de cien minutos de sufrimiento. Cargadas de los penales que atajó Romero contra Holanda, de los arranques mágicos de Messi que sirvieron para hacer camino al andar, del tiempo suplementario contra Suiza y hasta de la ajustada victoria contra Irán.</h5>
        <div class="resenaCreador2 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Escrito por</p>
            <img src="{{ asset('images/compi1.jpg') }}" alt="Germán Jara" class="img-circle imgResenaCreador2 pull-left">
            <a href="#" class="col-xs-7 col-sm-4 col-md-3 col-lg-6 autorResena2"><h6>Como Diamantes Telepáticos</h6></a>
            <button class="btn btn-success btnResenaSeguir2 col-xs-3 col-sm-2 col-md-2 col-lg-2"><i class="ion-person-add"></i>Seguir</button>
        </div>   
    </div>
 </div>