<div class="content profileContent">
    <div class="filtrerLeft">
            <a href="" class="btnFil selected down">Siguiendo</a>
            <a href="" class="btnFil over">Seguidores</a>
    </div>
    <div class="filtrerRight">
            <div class="boxSearch">
                            <input class="search" type="" placeholder="Filtrar colección" />
            </div>
    </div>
    <div class="clearBoth"></div>
    <div class="contentInner">
            <!-- USUARIO -->
            <div class="user">
                    <div class="userInfo">
                            <div class="avatar">
                                    <img src="images/userAvatar.jpg" height="50" width="50" alt="" />
                            </div>
                            <h1 class="title">Gal Sanchez 1</h1>
                            <span class="desc">Buenos Aires, Argentina</span>
                    <div class="clearBoth"></div>	
                    </div>
                            <a href="" class="btnUserFollow">Follow back</a>
            </div>
            <!-- /USUARIO -->
            <!-- USUARIO -->
            <div class="user">
                    <div class="userInfo">
                            <div class="avatar">
                                    <img src="images/userAvatar.jpg" height="50" width="50" alt="" />
                            </div>
                            <h1 class="title">Gal Sanchez 1</h1>
                            <span class="desc">Buenos Aires, Argentina</span>
                    <div class="clearBoth"></div>	
                    </div>
                            <a href="" class="btnUserFollow">Follow back</a>
            </div>
            <!-- /USUARIO -->
            <!-- USUARIO -->
            <div class="user">
                    <div class="userInfo">
                            <div class="avatar">
                                    <img src="images/userAvatar.jpg" height="50" width="50" alt="" />
                            </div>
                            <h1 class="title">Gal Sanchez 1</h1>
                            <span class="desc">Buenos Aires, Argentina</span>
                    <div class="clearBoth"></div>	
                    </div>
                            <a href="" class="btnUserFollow">Follow back</a>
            </div>
            <!-- /USUARIO -->
            <!-- USUARIO -->
            <div class="user">
                    <div class="userInfo">
                            <div class="avatar">
                                    <img src="images/userAvatar.jpg" height="50" width="50" alt="" />
                            </div>
                            <h1 class="title">Gal Sanchez 1</h1>
                            <span class="desc">Buenos Aires, Argentina</span>
                    <div class="clearBoth"></div>	
                    </div>
                            <a href="" class="btnUserFollowing">Following</a>
            </div>
            <!-- /USUARIO -->
            <!-- USUARIO -->
            <div class="user">
                    <div class="userInfo">
                            <div class="avatar">
                                    <img src="images/userAvatar.jpg" height="50" width="50" alt="" />
                            </div>
                            <h1 class="title">Gal Sanchez 1</h1>
                            <span class="desc">Buenos Aires, Argentina</span>
                    <div class="clearBoth"></div>	
                    </div>
                            <a href="" class="btnUserFollow">Follow back</a>
            </div>
            <!-- /USUARIO -->
            <!-- USUARIO -->
            <div class="user">
                    <div class="userInfo">
                            <div class="avatar">
                                    <img src="images/userAvatar.jpg" height="50" width="50" alt="" />
                            </div>
                            <h1 class="title">Gal Sanchez 1</h1>
                            <span class="desc">Buenos Aires, Argentina</span>
                    <div class="clearBoth"></div>	
                    </div>
                            <a href="" class="btnUserFollow">Follow back</a>
            </div>
            <!-- /USUARIO -->
            <!-- USUARIO -->
            <div class="user">
                    <div class="userInfo">
                            <div class="avatar">
                                    <img src="images/userAvatar.jpg" height="50" width="50" alt="" />
                            </div>
                            <h1 class="title">Gal Sanchez 1</h1>
                            <span class="desc">Buenos Aires, Argentina</span>
                    <div class="clearBoth"></div>	
                    </div>
                            <a href="" class="btnUserFollow">Follow back</a>
            </div>
            <!-- /USUARIO -->
            <!-- USUARIO -->
            <div class="user">
                    <div class="userInfo">
                            <div class="avatar">
                                    <img src="images/userAvatar.jpg" height="50" width="50" alt="" />
                            </div>
                            <h1 class="title">Gal Sanchez 1</h1>
                            <span class="desc">Buenos Aires, Argentina</span>
                    <div class="clearBoth"></div>	
                    </div>
                            <a href="" class="btnUserFollow">Follow back</a>
            </div>
            <!-- /USUARIO -->
            <!-- USUARIO -->
            <div class="user">
                    <div class="userInfo">
                            <div class="avatar">
                                    <img src="images/userAvatar.jpg" height="50" width="50" alt="" />
                            </div>
                            <h1 class="title">Gal Sanchez 1</h1>
                            <span class="desc">Buenos Aires, Argentina</span>
                    <div class="clearBoth"></div>	
                    </div>
                            <a href="" class="btnUserFollowing">Following</a>
            </div>
            <!-- /USUARIO -->
            <!-- USUARIO -->
            <div class="user">
                    <div class="userInfo">
                            <div class="avatar">
                                    <img src="images/userAvatar.jpg" height="50" width="50" alt="" />
                            </div>
                            <h1 class="title">Gal Sanchez 1</h1>
                            <span class="desc">Buenos Aires, Argentina</span>
                    <div class="clearBoth"></div>	
                    </div>
                            <a href="" class="btnUserFollow">Follow back</a>
            </div>
            <!-- /USUARIO -->
            <!-- USUARIO -->
            <div class="user">
                    <div class="userInfo">
                            <div class="avatar">
                                    <img src="images/userAvatar.jpg" height="50" width="50" alt="" />
                            </div>
                            <h1 class="title">Gal Sanchez 1</h1>
                            <span class="desc">Buenos Aires, Argentina</span>
                    <div class="clearBoth"></div>	
                    </div>
                            <a href="" class="btnUserFollow">Follow back</a>
            </div>
            <!-- /USUARIO -->
            <!-- USUARIO -->
            <div class="user">
                    <div class="userInfo">
                            <div class="avatar">
                                    <img src="images/userAvatar.jpg" height="50" width="50" alt="" />
                            </div>
                            <h1 class="title">Gal Sanchez 1</h1>
                            <span class="desc">Buenos Aires, Argentina</span>
                    <div class="clearBoth"></div>	
                    </div>
                            <a href="" class="btnUserFollow">Follow back</a>
            </div>
            <!-- /USUARIO -->
            <!-- USUARIO -->
            <div class="user">
                    <div class="userInfo">
                            <div class="avatar">
                                    <img src="images/userAvatar.jpg" height="50" width="50" alt="" />
                            </div>
                            <h1 class="title">Gal Sanchez 1</h1>
                            <span class="desc">Buenos Aires, Argentina</span>
                    <div class="clearBoth"></div>	
                    </div>
                            <a href="" class="btnUserFollow">Follow back</a>
            </div>
            <!-- /USUARIO -->
            <!-- USUARIO -->
            <div class="user">
                    <div class="userInfo">
                            <div class="avatar">
                                    <img src="images/userAvatar.jpg" height="50" width="50" alt="" />
                            </div>
                            <h1 class="title">Gal Sanchez 1</h1>
                            <span class="desc">Buenos Aires, Argentina</span>
                    <div class="clearBoth"></div>	
                    </div>
                            <a href="" class="btnUserFollowing">Following</a>
            </div>
            <!-- /USUARIO -->
            <!-- USUARIO -->
            <div class="user">
                    <div class="userInfo">
                            <div class="avatar">
                                    <img src="images/userAvatar.jpg" height="50" width="50" alt="" />
                            </div>
                            <h1 class="title">Gal Sanchez 1</h1>
                            <span class="desc">Buenos Aires, Argentina</span>
                    <div class="clearBoth"></div>	
                    </div>
                            <a href="" class="btnUserFollow">Follow back</a>
            </div>
            <!-- /USUARIO -->
            <!-- USUARIO -->
            <div class="user">
                    <div class="userInfo">
                            <div class="avatar">
                                    <img src="images/userAvatar.jpg" height="50" width="50" alt="" />
                            </div>
                            <h1 class="title">Gal Sanchez 1</h1>
                            <span class="desc">Buenos Aires, Argentina</span>
                    <div class="clearBoth"></div>	
                    </div>
                            <a href="" class="btnUserFollow">Follow back</a>
            </div>
            <!-- /USUARIO -->
            <!-- USUARIO -->
            <div class="user">
                    <div class="userInfo">
                            <div class="avatar">
                                    <img src="images/userAvatar.jpg" height="50" width="50" alt="" />
                            </div>
                            <h1 class="title">Gal Sanchez 1</h1>
                            <span class="desc">Buenos Aires, Argentina</span>
                    <div class="clearBoth"></div>	
                    </div>
                            <a href="" class="btnUserFollow">Follow back</a>
            </div>
            <!-- /USUARIO -->
            <!-- USUARIO -->
            <div class="user">
                    <div class="userInfo">
                            <div class="avatar">
                                    <img src="images/userAvatar.jpg" height="50" width="50" alt="" />
                            </div>
                            <h1 class="title">Gal Sanchez 1</h1>
                            <span class="desc">Buenos Aires, Argentina</span>
                    <div class="clearBoth"></div>	
                    </div>
                            <a href="" class="btnUserFollow">Follow back</a>
            </div>
            <!-- /USUARIO -->
            <!-- USUARIO -->
            <div class="user">
                    <div class="userInfo">
                            <div class="avatar">
                                    <img src="images/userAvatar.jpg" height="50" width="50" alt="" />
                            </div>
                            <h1 class="title">Gal Sanchez 1</h1>
                            <span class="desc">Buenos Aires, Argentina</span>
                    <div class="clearBoth"></div>	
                    </div>
                            <a href="" class="btnUserFollowing">Following</a>
            </div>
            <!-- /USUARIO -->
            <!-- USUARIO -->
            <div class="user">
                    <div class="userInfo">
                            <div class="avatar">
                                    <img src="images/userAvatar.jpg" height="50" width="50" alt="" />
                            </div>
                            <h1 class="title">Gal Sanchez 1</h1>
                            <span class="desc">Buenos Aires, Argentina</span>
                    <div class="clearBoth"></div>	
                    </div>
                            <a href="" class="btnUserFollow">Follow back</a>
            </div>
            <!-- /USUARIO -->
    </div>
</div>