<div class="row center-block rowContenido profileContent">
    <div class="headerAlbumes col-lg-12 text-center">
        <div class="btn-group">
            <button type="button" class="btn btn-default btnPerfilActive">Compilados de CDT</button>
            <button type="button" class="btn btn-default">Favoritos de CDT</button>
        </div>
        <div class="col-lg-2 pull-right hidden">
            <input type="search" class="form-control" placeholder="Buscar">
        </div>
    </div>
               
    <div class="albumManager col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a href="#"><img src="{{ asset('images/compi1.jpg') }}" alt="dorado" class="imgCompi col-xs-4 col-sm-3 col-md-2 col-lg-2"></a>
        <p class="pull-right visible-sm visible-md visible-lg text-muted">13 tracks</p>
        <h5>Compibombon volumen 3</h5>
        <div class="tagsCompi">
            <a href="#">#compilado,</a>
            <a href="#">#pop,</a>
            <a href="#">#amor,</a>
            <a href="#">#rock,</a>
        </div>
        <button type="button" class="btn btn-default btnCompiPlay"><i class="glyphicon glyphicon-play"></i>Reproducir</button>
    </div>
    
    <div class="albumManager col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a href="#"><img src="{{ asset('images/compi1.jpg') }}" alt="dorado" class="imgCompi col-xs-4 col-sm-3 col-md-2 col-lg-2"></a>
        <p class="pull-right visible-sm visible-md visible-lg text-muted">13 tracks</p>
        <h5>Compibombon volumen 3</h5>
        <div class="tagsCompi">
            <a href="#">#compilado,</a>
            <a href="#">#pop,</a>
            <a href="#">#amor,</a>
            <a href="#">#rock,</a>
        </div>
        <button type="button" class="btn btn-default btnCompiPlay"><i class="glyphicon glyphicon-play"></i>Reproducir</button>
    </div>
    
    <div class="albumManager col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a href="#"><img src="{{ asset('images/compi1.jpg') }}" alt="dorado" class="imgCompi col-xs-4 col-sm-3 col-md-2 col-lg-2"></a>
        <p class="pull-right visible-sm visible-md visible-lg text-muted">13 tracks</p>
        <h5>Compibombon volumen 3</h5>
        <div class="tagsCompi">
            <a href="#">#compilado,</a>
            <a href="#">#pop,</a>
            <a href="#">#amor,</a>
            <a href="#">#rock,</a>
        </div>
        <button type="button" class="btn btn-default btnCompiPlay"><i class="glyphicon glyphicon-play"></i>Reproducir</button>
    </div>          
</div>