<div class="content profileContent">
    <div class="filtrerLeft">
            <a href="" class="btnFil selected down">Favoritos de Germán</a>
            <a href="" class="btnFil over">Discos de Germán</a>
    </div>
    <div class="filtrerRight">
            <div class="boxSearch">
                            <input class="search" type="" placeholder="Filtrar colección" />
            </div>
    </div>
    <div class="clearBoth"></div>
    <div class="contentInner discos">
            <!-- LIST -->
            <div class="playList">
                    <div class="imgPlayList">
                            <img src="images/imgPlayList.jpg" alt="" />
                    </div>
                    <div class="listInfo">
                            <h1 class="title">SLC Punk! Soundtrack</h1>
                            <span class="desc">Lista de reproducción de <span class="bold dark">Quentin Burgess</span></span>
                            <div class="expandList">
                                    <a href="#">
                                            <span>13 canciones</span>
                                            <img src="images/iconExpand.png" height="8" width="17" alt="" />
                                    </a>
                            </div>
                    </div>
            </div>
            <div class="clearBoth"></div>
            <!-- /LIST -->
            <!-- LIST -->
            <div class="playList">
                    <div class="imgPlayList">
                            <img src="images/imgPlayList2.jpg" alt="" />
                    </div>
                    <div class="listInfo">
                            <h1 class="title">SLC Punk! Soundtrack</h1>
                            <span class="desc">Lista de reproducción de <span class="bold dark">Quentin Burgess</span></span>
                            <div class="expandList">
                                    <a href="#">
                                            <span>13 canciones</span>
                                            <img src="images/iconExpand.png" height="8" width="17" alt="" />
                                    </a>
                            </div>
                    </div>
            </div>
            <div class="clearBoth"></div>
            <!-- /LIST -->
            <!-- LIST -->
            <div class="playList">
                    <div class="imgPlayList">
                            <img src="images/imgPlayList3.jpg" alt="" />
                    </div>
                    <div class="listInfo">
                            <h1 class="title">SLC Punk! Soundtrack</h1>
                            <span class="desc">Lista de reproducción de <span class="bold dark">Quentin Burgess</span></span>
                            <div class="expandList">
                                    <a href="#">
                                            <span>13 canciones</span>
                                            <img src="images/iconExpand.png" height="8" width="17" alt="" />
                                    </a>
                            </div>
                    </div>
            </div>
            <div class="clearBoth"></div>
            <!-- /LIST -->
            <!-- LIST -->
            <div class="playList">
                    <div class="imgPlayList">
                            <img src="images/imgPlayList4.jpg" alt="" />
                    </div>
                    <div class="listInfo">
                            <h1 class="title">SLC Punk! Soundtrack</h1>
                            <span class="desc">Lista de reproducción de <span class="bold dark">Quentin Burgess</span></span>
                            <div class="expandList">
                                    <a href="#">
                                            <span>13 canciones</span>
                                            <img src="images/iconExpand.png" height="8" width="17" alt="" />
                                    </a>
                            </div>
                    </div>
            </div>
            <div class="clearBoth"></div>
            <!-- /LIST -->
    </div>
</div>