<div class="content profileContent">
    <div class="filtrerLeft">
            <a href="" class="btnFil selected down">Favoritas de Germán</a>
            <a href="" class="btnFil over">Reseñas de Germán</a>
    </div>
    <div class="filtrerRight">
            <div class="boxSearch">
                            <input class="search" type="" placeholder="Filtrar colección" />
            </div>
    </div>
    <div class="clearBoth"></div>
    <div class="contentInner">
            <!-- COLUMNA 1 -->
            <div class="sideBar">
                    <!-- RESEÑA -->
                    <div class="review">
                            <div class="imgPortada">
                                    <img src="images/imgFrontReview.jpg" height="199" width="199" alt="" />
                            </div>
                            <h1 class="title">
                                    Misterios del Fuego
                            </h1>
                            <h2 class="subTitle">
                                    Prehistoricos
                            </h2>
                            <span class="autor">
                                    por Claudio Kobelt
                            </span>
                            <p class="textReview">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsam, deserunt architecto harum suscipit nemo molestiae nesciunt at voluptate iste dignissimos cupiditate tempore consequuntur nostrum necessitatibus quaerat fugiat. Voluptates, temporibus.
                            </p>
                            <a href="#">
                                    <span class="more">Seguir leyendo</span>
                            </a>
                    </div>
                    <div class="clearBoth"></div>
                    <!-- /RESEÑA -->
                    <!-- RESEÑA -->
                    <div class="review">
                            <div class="imgPortada">
                                    <img src="images/imgFrontReview.jpg" height="199" width="199" alt="" />
                            </div>
                            <h1 class="title">
                                    Misterios del Fuego
                            </h1>
                            <h2 class="subTitle">
                                    Prehistoricos
                            </h2>
                            <span class="autor">
                                    por Claudio Kobelt
                            </span>
                            <p class="textReview">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsam, deserunt architecto harum suscipit nemo molestiae nesciunt at voluptate iste dignissimos cupiditate tempore consequuntur nostrum necessitatibus quaerat fugiat. Voluptates, temporibus.
                            </p>
                            <a href="#">
                                    <span class="more">Seguir leyendo</span>
                            </a>
                    </div>
                    <div class="clearBoth"></div>
                    <!-- /RESEÑA -->
            </div>
            <!-- /COLUMNA 1 -->

            <!-- COLUMNA 2 -->
            <div class="sideBar">
                    <!-- RESEÑA -->
                    <div class="review">
                            <div class="imgPortada">
                                    <img src="images/imgFrontReview.jpg" height="199" width="199" alt="" />
                            </div>
                            <h1 class="title">
                                    Misterios del Fuego
                            </h1>
                            <h2 class="subTitle">
                                    Prehistoricos
                            </h2>
                            <span class="autor">
                                    por Claudio Kobelt
                            </span>
                            <p class="textReview">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsam, deserunt architecto harum suscipit nemo molestiae nesciunt at voluptate iste dignissimos cupiditate tempore consequuntur nostrum necessitatibus quaerat fugiat. Voluptates, temporibus.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsam, deserunt architecto harum suscipit nemo molestiae nesciunt at voluptate iste dignissimos cupiditate tempore consequuntur nostrum necessitatibus quaerat fugiat. Voluptates, temporibus.
                            </p>
                            <a href="#">
                                    <span class="more">Seguir leyendo</span>
                            </a>
                    </div>
                    <div class="clearBoth"></div>
                    <!-- /RESEÑA -->
                    <!-- RESEÑA -->
                    <div class="review">
                            <div class="imgPortada">
                                    <img src="images/imgFrontReview.jpg" height="199" width="199" alt="" />
                            </div>
                            <h1 class="title">
                                    Misterios del Fuego
                            </h1>
                            <h2 class="subTitle">
                                    Prehistoricos
                            </h2>
                            <span class="autor">
                                    por Claudio Kobelt
                            </span>
                            <p class="textReview">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsam, deserunt architecto harum suscipit nemo molestiae nesciunt at voluptate iste dignissimos cupiditate tempore consequuntur nostrum necessitatibus quaerat fugiat. Voluptates, temporibus.
                            </p>
                            <a href="#">
                                    <span class="more">Seguir leyendo</span>
                            </a>
                    </div>
                    <div class="clearBoth"></div>
                    <!-- /RESEÑA -->
            </div>
            <!-- /COLUMNA 2 -->

            <!-- COLUMNA 3 -->
            <div class="sideBar">
                    <!-- RESEÑA -->
                    <div class="review">
                            <div class="imgPortada">
                                    <img src="images/imgFrontReview.jpg" height="199" width="199" alt="" />
                            </div>
                            <h1 class="title">
                                    Misterios del Fuego
                            </h1>
                            <h2 class="subTitle">
                                    Prehistoricos
                            </h2>
                            <span class="autor">
                                    por Claudio Kobelt
                            </span>
                            <p class="textReview">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsam, deserunt architecto harum suscipit nemo molestiae nesciunt at voluptate iste dignissimos.
                            </p>
                            <a href="#">
                                    <span class="more">Seguir leyendo</span>
                            </a>
                    </div>
                    <div class="clearBoth"></div>
                    <!-- /RESEÑA -->
                    <!-- RESEÑA -->
                    <div class="review">
                            <div class="imgPortada">
                                    <img src="images/imgFrontReview.jpg" height="199" width="199" alt="" />
                            </div>
                            <h1 class="title">
                                    Misterios del Fuego
                            </h1>
                            <h2 class="subTitle">
                                    Prehistoricos
                            </h2>
                            <span class="autor">
                                    por Claudio Kobelt
                            </span>
                            <p class="textReview">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsam, deserunt architecto harum suscipit nemo molestiae nesciunt at voluptate iste dignissimos cupiditate tempore consequuntur nostrum necessitatibus quaerat fugiat. Voluptates, temporibus.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsam, deserunt architecto harum suscipit nemo molestiae nesciunt at voluptate iste dignissimos cupiditate tempore consequuntur nostrum necessitatibus quaerat fugiat. Voluptates, temporibus.
                            </p>
                            <a href="#">
                                    <span class="more">Seguir leyendo</span>
                            </a>
                    </div>
                    <div class="clearBoth"></div>
                    <!-- /RESEÑA -->
            </div>
            <!-- /COLUMNA 3 -->

            <!-- COLUMNA 4 -->
            <div class="sideBar last">
                    <!-- RESEÑA -->
                    <div class="review">
                            <div class="imgPortada">
                                    <img src="images/imgFrontReview.jpg" height="199" width="199" alt="" />
                            </div>
                            <h1 class="title">
                                    Misterios del Fuego
                            </h1>
                            <h2 class="subTitle">
                                    Prehistoricos
                            </h2>
                            <span class="autor">
                                    por Claudio Kobelt
                            </span>
                            <p class="textReview">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsam, deserunt architecto harum suscipit nemo molestiae nesciunt at voluptate iste dignissimos.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsam, deserunt architecto harum suscipit nemo molestiae nesciunt at voluptate iste dignissimos.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsam, deserunt architecto harum suscipit nemo molestiae nesciunt at voluptate iste dignissimos.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsam, deserunt architecto harum suscipit nemo molestiae nesciunt at voluptate iste dignissimos.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsam, deserunt architecto harum suscipit nemo molestiae nesciunt at voluptate iste dignissimos.
                            </p>
                            <a href="#">
                                    <span class="more">Seguir leyendo</span>
                            </a>
                    </div>
                    <div class="clearBoth"></div>
                    <!-- /RESEÑA -->
                    <!-- RESEÑA -->
                    <div class="review">
                            <div class="imgPortada">
                                    <img src="images/imgFrontReview.jpg" height="199" width="199" alt="" />
                            </div>
                            <h1 class="title">
                                    Misterios del Fuego
                            </h1>
                            <h2 class="subTitle">
                                    Prehistoricos
                            </h2>
                            <span class="autor">
                                    por Claudio Kobelt
                            </span>
                            <p class="textReview">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ipsam, deserunt architecto.
                            </p>
                            <a href="#">
                                    <span class="more">Seguir leyendo</span>
                            </a>
                    </div>
                    <div class="clearBoth"></div>
                    <!-- /RESEÑA -->
            </div>
            <!-- /COLUMNA 4 -->
    </div>
</div>