<div class="row center-block profileContent profileContent">
    <div class="infoDisco col-lg-8">
        <h3>Información</h3>
        {% if user.getCurrentProfile.description is not empty %}
            <p class="infoDiscoParrafo">{{ user.getCurrentProfile.description }}</p>
        {% else %}
            <p class="infoDiscoParrafo">
                {% trans with {'%name%': user.getCurrentName} %}El usuario %name% a&uacute;n no posee una biograf&iacute;a{% endtrans %}
            </p>
        {% endif %}
    </div>
    
    {% if user.getProfile.getLinks | length > 0 %}
        <div class="statDisco infoDisco col-lg-3">
            <h3>Vínculos</h3>
            <table class="table">
                {% for link in user.getProfile.getLinks %}
                    <tr>
                        <td class="tdText"><a href="{{ link.getUrl }}" target="_blank"><h5>{{ link.getName }}</h5></a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
</div>