<div class="row center-block profileContent">
    <div class="infoDisco col-lg-8">
        <h3>Información</h3>
        {% if user.getCurrentProfile.description is not empty %}
            <p class="infoDiscoParrafo">{{ user.getCurrentProfile.description }}</p>
        {% else %}
            <p class="infoDiscoParrafo">
                {% trans with {'%name%': user.getCurrentName} %}El usuario %name% a&uacute;n no posee una biograf&iacute;a{% endtrans %}
            </p>
        {% endif %}
    </div>
    <div class="statDisco infoDisco col-lg-3">
        <h3>Vínculos</h3>
        <table class="table">
            <tr>
                <td class="tdText"><a href="#" target="_blank"><h5>Facebook</h5></a></td>
            </tr>
            <tr>
                <td class="tdText"><a href="#" target="_blank"><h5>Twitter</h5></a></td>
            </tr>
            <tr>
                <td class="tdText"><a href="#" target="_blank"><h5>Tumblr</h5></a></td>  
            </tr>
        </table>
    </div>
</div>