<div class="col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
    {{ render(controller('MozcuMozcuBundle:Profile:loadUserHeader', { 'user': user, 'selectedOption': selectedOption })) }}
    
    {{ include(template, parameters) }}
</div>