<div class="col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
    {{ render(controller('MozcuMozcuBundle:Profile:loadUserHeader', { 'user': user, 'selectedOption': selectedOption })) }}
    
    {{ include(template, parameters) }}
    
    <script type="text/javascript">
        $(function() {
            window.scrollTo(0,0);
            
            $('head meta[name=description]').attr('content', '{{ defaultMetaDesc }}');
        });
    </script>
</div>

{{ include('googleAnalytics.html.twig') }}