.wrapperPage {
	width:100%;
	margin:auto;
	background:#fff;
	position:relative;
	min-width:1000px;
}


	.wrapperPage .header {
		background:#000;
		position:fixed;
		top:0;
		width:100%;
		box-shadow:0 0 5px #333;
		height:43px;
		z-index:100;
		min-width:1000px;
	}
	
		.wrapperPage .header .logo {
			margin:13px 10px 7px 10px;
			width:213px;
			float:left;
		}
		
		.wrapperPage .header .search {
			float:left;
		}
			.wrapperPage .header .search input {
				background:#000;
				border:none;
				color:#fff;
				font-size:12px;
				width:307px;
				height:35px;
				margin-top:3px;
				background:url(../images/bgSearch.png) no-repeat 275px 8px;
			}
		.wrapperPage .header .wrapperSettings {
			float:right;
			margin-right:39px;
			margin-top:10px;
		}
			.wrapperPage .header .wrapperSettings .topCloud {
				float:left;
			}
				.wrapperPage .header .wrapperSettings .topCloud a {
					background:url(../images/topCloud.png) no-repeat top left;
					width:30px;
					height:20px;
					display:block;
				}
				.wrapperPage .header .wrapperSettings .topCloud a:hover {
					background-position:bottom left;
				}
			.wrapperPage .header .wrapperSettings .wrapperProfile {
				float:left;
			}
				.wrapperPage .header .wrapperSettings .wrapperProfile .imgProfile {
					float:left;
					margin-left:34px;
				}
				.wrapperPage .header .wrapperSettings .wrapperProfile .nameProfile {
					color:#fff;
					font-size:12px;
					float:left;
					margin-left:5px;
					margin-top:6px;
				}
			.wrapperPage .header .wrapperSettings .notifications {
				float:left;
				border-radius:2px;
				border:1px solid #87cbe8;
				background:#00abf2;
				color:#fff;
				padding:5px;
				font-size:11px;
				line-height:8px;
				margin-left:14px;
			}

.wrapperPage .sidebarLeft {
	width:231px;
	border-left:1px solid #cbcbcb;
	border-right:1px solid #cbcbcb;
	min-height:388px;
	position:fixed;
	left:0;
	background:#ebebeb;
	z-index:90;
	top:43px;
	height: 100%;
}
