{% if song is defined %}
    {% set fileId = '' %}
    {% set fileName = song.getName %}
{% else %}
    {% set fileId = '' %}
    {% set fileName = '' %}
{% endif %}
    
<div id="{{ fileId }}" class="temaSubido text-left uploadedSong {% if song is not defined %}uploadifive-queue-item{% endif %}">
    {% if song is defined %}
        <input type="hidden" class="id" value="{{ song.getId }}" />
    {% endif %}
    
    <i class="glyphicon glyphicon-move"></i>
    
    <a href="#" class="filename editSongName">{{ fileName }}</a>
    <input type="text" class="editingSongName" style="display:none;" value="{{ fileName }}" />
    
    <a href="#" class="editSongName"><i class="glyphicon glyphicon-pencil"></i></a>
    <a href="#" class="confirm" style="display:none;"><i class="glyphicon glyphicon-ok"></i></a>
    
    <span class="fileinfo"></span>
    
    <a href="#" class="close">
        <i class="glyphicon glyphicon-remove pull-right"></i>
    </a>
    
    {% if song is not defined %}
        <div class="progress">
            <div class="progress-bar" style="width: 100%;">
                <!--Progress Bar-->
            </div>					
        </div>
    {% endif %}
    
    <input type="hidden" class="realFileName" value="" />
     
</div>        