<div class="content related">
    <div class="wrapperDiscListen">
        {% for album in albums %}
            {{ include('MozcuMozcuBundle:Album:_album.html.twig', {album: album}) }}
        {% endfor %}
    </div>
</div>