<div class="row center-block perfilContenido albumContent related">
    {% for album in albums %}
        {{ include('MozcuMozcuBundle:Album:_album.html.twig', {album: album}) }}
    {% endfor %}
</div>