{% for album in albums %}
    {{ include('MozcuMozcuBundle:Album:_album.html.twig', {album: album}) }}
{% endfor %}

<a href="{{ path('MozcuMozcuBundle_albumsNextPage', {page: page}) }}" class="albumNextPage" style="display:none;">mas</a>