<div class="col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10 albumsPage">
<!--INICIO DE CONTENIDO-->
    <div class="row center-block perfilContenido">
        <div class="headerExplorer col-lg-12">
            <div class="btn-group btnTag">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Todos los tags <span class="caret"></span>
                </button>

                <ul class="dropdown-menu dropdownTag" role="menu">
                    <li><input type="search" placeholder="Busca un tag" class="form-control"></li>
                    {% for tag in tags %}
                        <li><a id="tag-{{ tag.getId }}" href="#" class="tag">{{ tag.getName }}</a></li>
                    {% endfor %}  
                </ul>
            </div>
            <div class="btn-group btnUbicacion">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Todos los países<span class="caret"></span>
                </button>


                <ul class="dropdown-menu dropdownTag" role="menu">
                    <li><input type="search" placeholder="Busca un país" class="form-control"></li>
                    <li><a href="#">Argentina</a></li>
                    <li><a href="#">Bolivia</a></li>
                    <li><a href="#">Brasil</a></li>
                    <li><a href="#">Chile</a></li>
                    <li><a href="#">Colombia</a></li>
                    <li><a href="#">Uruguay</a></li>
                    <li><a href="#">Venezuela</a></li>
                    <li><a href="#">Zimbague</a></li>
                    <li><a href="#">Argentina</a></li>
                    <li><a href="#">Bolivia</a></li>
                    <li><a href="#">Brasil</a></li>
                    <li><a href="#">Chile</a></li>
                    <li><a href="#">Colombia</a></li>
                    <li><a href="#">Uruguay</a></li>
                    <li><a href="#">Venezuela</a></li>
                    <li><a href="#">Zimbague</a></li>   
                </ul>
            </div>
            
            <div class="btn-group btnFilter">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Ordenar por <span class="caret"></span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Relevancia</a></li>
                    <li><a href="#">Fecha de subida</a></li>
                    <li><a href="#">Reproducciones</a></li>
                </ul>
            </div> 

        </div>
        
        <!--INICIO DE ALBUMES               -->
        {% for album in albums %}
            {{ include('MozcuMozcuBundle:Album:_album.html.twig', {album: album}) }}
        {% endfor %}
        <!--FIN DE ALBUMES-->               
        
        <input type="hidden" id="albumsNextPage" value="{{ path('MozcuMozcuBundle_albumsNextPage', {page: 1}) }}" />
        
    </div>

</div><!--FIN DE CONTENIDO-->

<script type="text/javascript">
$(function(){
    $('.dropdown-menu').on('click', '.form-control', function(e) { e.stopPropagation(); });

    var loading = false;

    $(window).off('scroll');
    $(window).scroll(function() {
        var currentScroll = $(window).scrollTop() + $(window).height();
        var offset = $('.albumsPage').offset();
        var totalScroll = offset.top + $('.albumsPage').outerHeight(true);
        if(currentScroll + 30 > totalScroll && !loading) {
            loading = true;
            loadMore();
        }
    });
    
    var loadMore = function() {
        var url = $('#albumsNextPage').val();
        $.getJSON(url, function(data) {
            if(data.success) {
                $('#albumsNextPage').remove();
                $('.album').last().after(data.html);
                loading = false;
            }
        });
    };

});
    
</script>