<p>Para recuperar tu password haz click en el siguiente link:</p>
<p><a href="{{ url('MozcuMozcuBundle_passwordRecovery', {'hash': passwordRecovery.getHash}) }}">{{ url('MozcuMozcuBundle_passwordRecovery', {'hash': passwordRecovery.getHash}) }}"</a></p>
<br /><br />
<p>Mozcu - La re-evolucion musical</p>